.App {
  background-image: url("../src/assets/images/pattern-background-desktop.svg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media screen and (max-width: 576px) {
  .App {
    background-image: url("../src/assets/images/pattern-background-mobile.svg");
  }
}
