.sectionCard {
  width: 20rem;
}

.sectionCard .iconImage {
  width: 4rem;
}

.sectionCard .title {
  font-family: "Big Shoulders";
  margin-top: 2.5rem;
}

.sectionCard .descCard {
  line-height: 1.6rem;
}

.sectionCard .btnLearn {
  font-size: 0.9rem;
  margin-top: 3.5rem;
  padding: 0.7rem 2rem;
}

.sectionCard .btnLearn:hover {
  background-color: transparent !important;
  outline: 0.2em solid hsl(0, 0%, 95%) !important;
  color: hsla(0, 0%, 100%, 0.75) !important;
}

@media screen and (max-width: 992px) {
  .sectionCard {
    width: 100%;
    margin: 0 1rem;
  }

  .sectionCard:nth-child(1) {
    border-radius: 0.7rem 0.7rem 0 0 !important;
    -webkit-border-radius: 0.7rem 0.7rem 0 0 !important;
    -moz-border-radius: 0.7rem 0.7rem 0 0 !important;
    -ms-border-radius: 0.7rem 0.7rem 0 0 !important;
    -o-border-radius: 0.7rem 0.7rem 0 0 !important;
  }

  .sectionCard:nth-child(3) {
    border-radius: 0 0 0.7rem 0.7rem !important;
    -webkit-border-radius: 0 0 0.7rem 0.7rem !important;
    -moz-border-radius: 0 0 0.7rem 0.7rem !important;
    -ms-border-radius: 0 0 0.7rem 0.7rem !important;
    -o-border-radius: 0 0 0.7rem 0.7rem !important;
  }
}
