@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  --color-background: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 8%);
  --color-item: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 52%);
}

body.dark {
  --color-background: hsl(207, 26%, 17%);
  --color-text: hsl(0, 0%, 100%);
  --color-item: hsl(209, 23%, 22%);
  --color-input: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  .navbar-area {
    background-color: var(--color-item);
  }

  .search-area {
    background-color: var(--color-item);
  }

  .search-area input {
    background-color: var(--color-item);
    color: var(--color-input);
  }

  .dropdown-main .dropdown-btn {
    background-color: var(--color-item);
  }

  .dropdown-main .dropdown-content {
    background-color: var(--color-item);
  }

  .country-cards-main .card{
    background-color: var(--color-item);
  }

  .country-cards-main .card p span{
    color: var(--color-input);
  }
}
