.heroImage {
  width: 100%;
  display: flex;
}

.heroImage img {
  width: 100%;
  border-radius: 1.3rem 1.3rem 0 0;
  -webkit-border-radius: 1.3rem 1.3rem 0 0;
  -moz-border-radius: 1.3rem 1.3rem 0 0;
  -ms-border-radius: 1.3rem 1.3rem 0 0;
  -o-border-radius: 1.3rem 1.3rem 0 0;
}
